.bg {
    -fx-background-image: url("./assets/bg.png");
}

.form {
    -fx-background-color: black;
}

.mfx-text-field {
    -fx-background-color: transparent;
}

.mfx-text-field .floating-text {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.login-button {
    -fx-background-color: transparent;
    -fx-border-color: slateblue;
}

.login-button:hover {
    -fx-background-color: slateblue;
}

.progress-fail {
    -mfx-color1: red;
    -mfx-color2: red;
    -mfx-color3: red;
    -mfx-color4: red;
}

.progress-success {
    -mfx-color1: green;
    -mfx-color2: green;
    -mfx-color3: green;
    -mfx-color4: green;
}

.progress-loading {
    -mfx-color1: slateblue;
    -mfx-color2: violet;
    -mfx-color3: blue;
    -mfx-color4: pink;

}

.mfx-progress-spinner .percentage {
    -fx-fill: transparent;
}

.succeed {
    -fx-fill: green;
}

.fail {
    -fx-fill: red;
}

.close-button {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: rgba(100, 100, 100, 0.1);
}

.close-button:hover {
    -fx-background-color: rgba(246, 34, 34, 0.5);
}

.input-fail {
    -fx-border-color: red;
}